# This workflow uploads index.html file to release assets

name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Bun
      uses: oven-sh/setup-bun@v1
      with:
        bun-version: latest
    - run: bun install
    - run: bun run build
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          dist-app/index.html
        # To only send out release mails when the release 
        # notes have been manually added
        draft: true
